[buildout]
parts =
    instance
    zopepy
    test

# Change the number here to change the version of Plone being used
extends =
    http://dist.plone.org/release/4.0.5/versions.cfg

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org/release/4.0.5
    http://dist.plone.org/thirdparty

extensions =
    mr.developer
    buildout.dumppickedversions

# Add additional eggs here
eggs =
    PIL
    plone.app.eventindex

# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop = .

# Until plone.event is released:
sources = sources
auto-checkout = plone.event


[sources]
plone.event = git git://github.com/collective/plone.event.git

[instance]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/plone.recipe.zope2instance
recipe = plone.recipe.zope2instance
user = admin:admin

# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = Plone my.package
eggs =
    Zope2
    Plone
    ${buildout:eggs}

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml =

[zopepy]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/zc.recipe.egg
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[test]
recipe = zc.recipe.testrunner
eggs = plone.app.eventindex
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']
